---
title: Barbie Jacket
date: 2016-05-05 22:49:20 -0400
finish: 2016-05-04
image: 0081-lilac-jacket-1.jpg
nophotos: 2
patternname: "#0081 Lilac Jacket"
needlesize: 2
tags: []
---
<p>The photo in the pattern showed a 3st garter stitch cuff on the sleeves, but this wasn’t included in the pattern, but it was easy enough to add it in.</p><p>I haven’t blocked the jacket yet - it would be good to have done that before sewing up, but it’s only a barbie jacket.</p>
