---
title: Tiny Aran Jacket
date: 2017-11-30 07:08:42 -0500
finish: 2017-12-17
image: agd-caithness-cardi-1.jpg
nophotos: 4
patternname: "AGD Caithness Cardi."
needlesize: 2.25 3.25
tags: []
---
<p>I really like how this looks - hope it works out.</p><p>It’s a mystery baby yarn. It’s not as soft as regular baby wool, so wondering if it’s a bit woolly - probably at least part acrylic.</p><div class=\markdown__dated_entry\><h1 id=\17122017\ class=\markdown__dated_entry__heading\>17-12-2017</h1><p>So, I ended up ripping back the first attempt at a button band. The pattern says to pick up 124 stitches and I had only managed 117. Also, as the button band was in K1P1 rib, I assumed it warranted the smaller needles.</p><p>Second attempt I picked up 141 stitches, again using the smaller needles, which seemed better, but still bunches up a little at the lower edge of the cardigan. Pretty sure the button band is meant to be knit with the bigger needles.</p><p>Overall it doesn’t seem to sit right.</p><p>But the cables are nice.</p></div>
