---
title: Baby Blue Doll Socks
date: 2018-07-22 07:07:20 -0400
finish: 2018-08-10
image: american-girl-socks-2-1.jpg
nophotos: 2
patternname: "American Girl Socks"
needlesize: 2
tags: []
---
<p>I cast on 34 sts and did K2P2 rib, with one K4 thrown in for the centre back of the sock, then reduced to K3 centre back after 1 inch, and then K2 for half an inch.</p><p>It’s an acrylic baby yarn, soft and lasts forever.</p><p>I can’t remember when I cast on, but vaguely uneasy about adapting the pattern, but it’s worked out alright. Not my favourite, but passable. The cuff sat in a box for many months - I was very happy to find it again, as they are my favourite dpns.</p>
