---
title: American Girl Doll Shoes
date: 2018-10-08 01:09:51 -0400
finish: 2018-10-09
image: american-girl-doll-shoes-1.jpg
nophotos: 2
patternname: "American Girl Doll Shoes"
needlesize:
tags: []
---
<div class=\markdown__dated_entry\><h1 id=\08102018\ class=\markdown__dated_entry__heading\>08-10-2018</h1><p>3.5mm needle seems right.</p><p>3.0mm worked out a bit small.</p></div>
