---
title: Blueberry Ripple Socks
date: 2018-05-05 20:11:18 -0400
finish: 2018-05-08
image: blueberry-ripple-socks-1.jpg
nophotos: 3
patternname: null
needlesize: 4
tags: []
---
<p>co 32sts <br />k1p1 rib 14 rounds <br />divide in half for heel</p>
