---
title: Little Blue Star
date: 2012-11-26 22:03:28 -0500
finish: 2012-11-27
image: eight-pointed-star-doily-10-1.jpg
nophotos: 2
patternname: "Eight-pointed Star Doily 10"
needlesize: 2.25
tags: [ "lace", "star" ]
---
<p>A smaller doily, with no photo, yet.</p><p>Using thin blue fluffy stuff, believed to be wool.</p><p>In my impatience I missed a few plain rows in the beginning, so might be supposed to be a bit fuller in the middle. Also crochet cast off with 4, 3, 4, 3 loops rather than the patterns 4, 3, 4, 4 loops. Probably a typo there.</p>
