---
title: Knitted Thurible #2
date: 2014-06-26 18:36:00 -0400
finish: 2014-09-22
image: knitted-thurible-2-1.jpg
nophotos: 3
patternname: null
needlesize: 3.25
tags: []
---
<p>I got thinking about thurible patterns again while laying awake at night.</p><p>I had just knitted a roll brim yellow hat, finishing off with a length of i-cord which reminded me of my last knitted thurible. I thought if the lid of the thurible could have a rolled edge, it could be pulled down over a bowl shaped base, as long as the edge of the bowl was firm enough.</p><p>Lots of rolled edges this time - see how it goes.</p><p>UPDATE: The grey charcoal is 5 stitchesx100 rows garter stitch, rolled up and sewn up. - now for sale on <a href=\https://www.etsy.com/au/listing/203827574/purple-knitted-toy-thurible\>etsy</a></p><p><a href=\http://www.ravelry.com/projects/VeroMaryBrrr/cuddly-thurible\>here’s the earlier knitted thurible</a></p>
