---
title: Knitted Thurible #1.5
date: 2014-12-12 00:22:15 -0500
finish: 2014-11-01
image: knitted-thurible-15-1.jpg
nophotos: 2
patternname: null
needlesize:
tags: []
---
<p>I made this one up as I went along, but mislaid my notes. The lid was knitted bottom up.</p><p>It was sold <a href=\http://cuddlythurible.etsy.com\>in my Etsy shop</a> and got some lovely feedback for it. I’ll be knitting more in the future, but not exactly like this one.</p>
