---
title: Shrugs
date: 2017-01-15 05:22:25 -0500
finish: 2018-05-02
image: knotted-openwork-girls-shrug---with-matching-american-girl-size-1.jpg
nophotos: 7
patternname: "Knotted Openwork Girls Shrug - with matching American Girl size"
needlesize: 3.75 5.5
tags: []
---
<div class=\markdown__dated_entry\><h1 id=\27112017\ class=\markdown__dated_entry__heading\>27-11-2017</h1><p>My daughter found the shrug made a good bonnet for her lamb - asked me why it had these two things sticking out. I had to take a photo and show her how it was meant to be worn.</p><p>Another plus is that when I told her I was planning to make one her size too, she was suitably enthusiastic about the prospect. I’d better cast that on soon!</p></div>
