---
title: Little yellow sunshine socks
date: 2014-05-02 01:56:30 -0400
finish: null
image: little-yellow-sunshine-socks-1.jpg
nophotos: 2
patternname: "Tessa's basic sock pattern"
needlesize: 2.5
tags: []
---
<p>Basic baby socks. Casting on 40 sts and seeing how it goes. 1x1 Ribbing, continuing down the top of the foot.</p><p>The pattern is here: <a href=\http://tlau.org/knit/basicsock.html\>link text</a></p><p>The yellow sock is really cute, but way too small for my toddler, so I went to my bag and found a cuff in purple, 36sts around in double knit and kept going with that into a sock. And that fit, so I made another.</p><p>So now the toddler has a mismatch pair of thick acrylic socks which no shoe will accomodate.</p>
