---
title: Nennir
date: 2018-06-04 22:12:36 -0400
finish: 2018-12-18
image: nennir-1.jpg
nophotos: 9
patternname: "Nennir"
needlesize: 4
tags: []
---
<p>Urged on to try this by <a href=\/people/benedicta\>benedicta</a>. It’s all her fault.</p><p>Taking the plunge and see how the fancy celtic cables work out. Starting with some ribbing to line up with the cables to make more a scarf thing rather than the provisional cast on and grafting to make a cowl.</p><p>Lucy Hague’s website is great, and there’s a free coupon for signing up for her mailing list. I can’t decide which pattern to get so starting with this freebie first. I like the cruciform bit in it too.</p><div class=\markdown__dated_entry\><h1 id=\17112018\ class=\markdown__dated_entry__heading\>17-11-2018</h1><p>Lost the pink cable needle and one of the bamboo knitting needles. Bought embarrassingly bright pink plastic 4mm needles as sort of replacements - the regular steel needles tend to slip out, the plastic and bamboo have a little more friction and less weight.</p><p>I have a bamboo cable needle, but it’s grooved, which helps keep the stitches on the needle, but makes it a pain to get the stitches off the needle! Why!!! Might not be so much an issue with a nice schmooth yarn, but I’m using handspun fuzziness. So I’ll put up with the steel cable needle for now, but keeping my eyes open for the ideal cable needle.</p><p>Pattern going well - managed to get the bottom of the cross right second time around.</p></div>
