---
title: Party Hat
date: 2014-07-25 22:36:04 -0400
finish: 2014-07-26
image: party-hat-1.jpg
nophotos: 1
patternname: null
needlesize: 5.5
tags: []
---
<p>From generic acrylic and a little rainbow pom pom yarn.</p><p>I thought the points would help, and thought I had 91 stitches so could make 13 points of 7 sts each. Turned out I only had 89 sts, so there’s a little 5 st point, which came in handy for keeping track of the beginning of the round.</p>
