---
title: My First Doily
date: 2008-11-10 16:34:29 -0500
finish: 2008-11-22
image: pinwheel-doily-1-1.jpg
nophotos: 2
patternname: "Pinwheel doily 1"
needlesize: 3.25
tags: [ "doily", "lace" ]
---
<p>I have tried a two needle doily before, but this is my first doily done in the round. Mercerised cotton cone - plenty of it to experiment with.</p><p>Instead of the prescribed crochet cast off I’m doing a sideways knitted border called Neat Trim that I jotted down from some library book.</p>
