---
title: Rose Of China
date: 2012-11-23 15:43:46 -0500
finish: 2012-11-28
image: rose-of-china-1.jpg
nophotos: 6
patternname: "Rose Of China"
needlesize: 4
tags: [ "five", "hat", "petal", "rose", "tudor" ]
---
<p>Looking for a pattern with a five petalled rose. Also pining for a hat I knitted and can’t find anymore - happens a lot around here.</p><p>We dropped by Bendigo Woollen Mills on the way to the Christus rex Pilgrimage and bought lots of bits from the remnants baskets. I have about 137g of Russet Rustic 8ply (I think). Hopefully it will cover most of the hat. There’s also some green in case I run out.</p><p>My head is big and my yarn is a bit thicker than the design calls for, but I swatched and calculated and multiplied things by 8/9 and I think I can pull this off.</p><p>It turned out bigger than expected, but after a wash it will probably do well. I like the subtle flower pattern. And it does well as a balaclava for my youngsters - the model in the green shirt says he can see through it okay.</p>
