---
title: Ruffled Baby Hat
date: 2014-03-26 15:38:31 -0400
finish: 2014-03-27
image: ruffled-baby-hat-1.jpg
nophotos: 2
patternname: "Ruffled Baby Hat"
needlesize:
tags: []
---
<p>I’ve cast on 352 stitches, which is about the limit of what my circular needles can handle.</p><p>Also 1 round K before the K2tog rounds</p><p>One day wonder, but I started decreasing for the top too early, but it will be fine.</p><p>I did go back the next day and rip back the top and knit in an extra inch before decreasing again, and I am happier now.</p>
