---
title: Silly doll hat
date: 2017-11-06 23:32:15 -0500
finish: 2017-10-13
image: silly-doll-hat-1.jpg
nophotos: 1
patternname: null
needlesize:
tags: []
---
<p>The hole for the hair is too small for all the hair. Next time I’ll make that opening stretchy, or button up?</p><p>It’s hard to tell what would use the silly yarn best - spreading it out with nice plain yarn helps.</p>
