---
title: Sunny
date: 2013-07-29 19:55:39 -0400
finish: 2013-08-05
image: six-pointed-star-doily-2-1.jpg
nophotos: 2
patternname: "Six-pointed Star Doily 2"
needlesize: 3.25
tags: []
---
<p>Emily Ocker cast on. <br />The title is 6 points, so I’m only doing 6 pattern repeats, rather than the 8 repeats in the pattern (so I’m knitting through the instruction and then repeating 5 times after the first one, if that makes sense)</p><p>In the last round of the pattern, it has a group of K5 and K4 and I think they should both be K4.</p>
