---
title: Super Quick Baby Bonnet
date: 2013-03-08 09:52:39 -0500
finish: 2013-03-09
image: super-quick-baby-bonnet-1.jpg
nophotos: 2
patternname: "Super Quick Baby Bonnet"
needlesize: 3.75 5
tags: [ "baby", "bonnet" ]
---
<p>All the way through knitting I was sure it was going to be too big, but I persisted. She’ll grow into it. And then I put it on her head and it’s fine! <br />Elizabeth is nearly 2 months old here. <br />I began the crown shaping at 4” instead of the 4.5” from the pattern. The other difference is the yarn is a little thinner than the pattern, but I wanted a lacier bonnet. And I slipped up with the lace pattern, assuming there was a blank purl row between each pattern row and then kept going, doing my own thing. <br />Great pattern.</p>
