---
title: teddy bear socks
date: 2015-08-24 00:47:09 -0400
finish: 2015-08-24
image: teddy-bear-socks-1.jpg
nophotos: 1
patternname: null
needlesize:
tags: []
---
<p>cast on 16 sts in the round <br />K1P1 rib for 6-7 rounds <br />divide fir heel <br />4 rows: sl 1 K to end, sl1 P to end <br />turn heel <br />sl1, K4, k2tog, turn <br />sl1, K2, k2tog, turn <br />sl1 K to end, <br />start picking up 3 instep stitches, plus a stitch next to the next needle <br />keep k1p1 rib going for the top of the foot <br />decrease every 2nd round as usual <br />Plain stocking stitch for the toe, decrease at 4 points every 2nd round until 8 sts, then weave stitches together.</p>
