---
title: The Genius Headband
date: 2018-09-02 20:42:54 -0400
finish: 2018-09-03
image: the-genius-headband-1.jpg
nophotos: 2
patternname: "The Genius Headband"
needlesize:
tags: []
---
<div class=\markdown__dated_entry\><h1 id=\03092018\ class=\markdown__dated_entry__heading\>03-09-2018</h1><p>With an Italian paw design - asked the recipient to choose the embellishment and yarn.</p><p>So quick - on to make another!</p></div><div class=\markdown__dated_entry\><h1 id=\03092018_2\ class=\markdown__dated_entry__heading\>03-09-2018</h1><p>I made another for a smaller daughter - the pattern really suits variegated yarn with short colour changes.</p></div>
