---
title: Thurible hat
date: 2014-07-25 22:40:00 -0400
finish: 2014-06-01
image: thurible-hat-1.jpg
nophotos: 2
patternname: null
needlesize: 5.5
tags: []
---
<p>Generic yellow acrylic. I keep losing hats faster than I can make them.</p><p>By the end of the hat I was all inspired to get back into knitting thuribles. But I lost the work in progress, but I found my notes, so hopefully will get back into it soon!</p><p>Plain roll brim hat with i-cord finish.</p>
