---
title: Toddler Socks
date: 2018-05-03 03:46:34 -0400
finish: 2018-05-05
image: toddler-socks-1.jpg
nophotos: 2
patternname: null
needlesize: 4
tags: []
---
<p>First sock knitted in one evening, but could do with being a little longer. Still plenty of yarn left, so hoping to make as many as I can.</p><div class=\markdown__dated_entry\><h1 id=\05052018\ class=\markdown__dated_entry__heading\>05-05-2018</h1><p>First sock missing, but second sock completed. Will mark the project as completed for now and consider whether to cast on a third sock as planned.</p></div>
