---
title: ProToe up socks
date: 2011-02-10 17:30:27 -0500
finish: null
image: universal-toe-up-sock-formula-1.jpg
nophotos: 1
patternname: "Universal Toe-Up Sock Formula"
needlesize:
tags: []
---
<p>The right sock followed the formula. The left sock made a sort of gusset for the heel. They both work. Also used a sideways garter stitch cast off as the only stretchy one I could get my brain around at the time.</p><p>Just reading Tertullian’s On Women’s Apparel and this bit jumped out:</p><blockquote><p>It had escaped Him, when He was bidding the universe to come into being, to issue a command for (the production of) purple and scarlet sheep!</p></blockquote><p>Well, long ago I bought some pure wool scarlet socks - yes, vanity and all that - but I lost them, so seeing this wool only 50c a ball I bought it and made socks. And now, just like a second Eve I’ve made socks from what’s left for my son - my husband would never wear scarlet socks.</p>
