{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
	      <img src="/{{ .Params.image }}" />
	      {{ with .Params.date }}
	      <p><strong>Date started: </strong> {{ dateFormat "Mon 2 Jan 2006" . }} </p>
	      {{ end }}
	      {{ with .Params.finish }}
	      <p><strong>Date completed: </strong> {{ dateFormat "Mon 2 Jan 2006" . }} </p>
	      {{ end }}
	      {{ with .Params.patternname }}
	      <p><strong>Pattern Name: </strong> {{ . }}</p>
	      {{ end }}
	      {{ with .Params.needlesize }}
	      <p><strong>Needle Size (mm): </strong> {{ . }}</p>
	      {{ end }}
	      {{ with .Params.tags }}
	      <p><strong>Tags: </strong> {{ . }}</p>
	      {{ end }}
        {{ .Content }}
	{{ $imageinit := .Params.image }}
	{{ with .Params.nophotos }}
	   {{ if gt . 1 }}
	   {{ range $i, $num := (seq .) }}
	   {{ $numnum := printf "%s" "." | printf "%d%s" $num | printf "%s%s" "-" | printf "%s" }}
	      <img src="/{{ replace $imageinit "-1." $numnum }}" />
	   {{ end }}
	   {{ end }}
	{{ end }}
         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
