---
title: Mermaid tail
date: 2016-05-15 23:35:37 -0400
finish: null
image: 1105-barbie-as-mermaid-1.jpg
nophotos: 2
patternname: "#1105 Barbie as Mermaid / Sjöjungfru"
needlesize: 2
tags: ["doll clothes"]
---
<p>There are some different colour changes, and I made the fins a little smaller, but otherwise followed the pattern.</p><p>The yarn I used was a bit thick for the needles and the gauge, and being cotton seems to stretch out of shape easily.</p>
