---
title: Socks
date: 2015-03-06 22:20:21 -0500
finish: null
image: 8-ply-socks-1.jpg
nophotos: 4
patternname: "8 Ply Socks"
needlesize:
tags: []
---
<p>This was mostly ad-libbing.</p><p>I started by knitting a regular size sock as per pattern, but got jumbled up when it came to divide for the heel. I’m used to using half the stitches for the heel, but the pattern wanted a bit more than half, but I was already a few rows into doing it my way by then, so kept going.</p><p>Then put the big sock on my toddler’s foot to figure out how many stitches to cast on for her.</p><p>Then started knitting along to a movie, so didn’t notice I was 4 sts short until turning the heel, but kept going and finished a slightly too small purple sock.</p><p>Then started another, but wasn’t sure if I had enough purple left, so made it with two tone yellow stripes with purple heel and toe and cuff. I am very very vvery happy with that one.</p><p>So, I’ll keep going with my sock spurt, making socks until everyone is all socked out. With so many feet around the house that should keep me going for a Long Time.</p>
