---
title: Alpaca Cardigan
date: 2008-01-23 16:38:51 -0500
finish: 2008-06-01
image: alpaca-cardigan-1.jpg
nophotos: 2
patternname: "kids classic 8plys"
needlesize: 3.25 4
tags: ["cardigan"]
---
<p>I finished a jumper (sweater for those in the US) using this pattern and this yarn and was so happy with it I cast on for a medium buttoning cardigan next size up.</p><p>The boys are really happy with it. Having pockets is popular right now. A very plain design, the knit-purl patterns aren’t a big success, the little twist stitch bumps are okay.</p>
