---
title: Leafy hat band
date: 2010-07-07 08:10:47 -0400
finish: 2010-07-01
image: baby-hat-with-leaf-edging-1.jpg
nophotos: 2
patternname: "Baby Hat with Leaf Edging"
needlesize: 4
tags: [ "edge", "headwear", "leaf" ]
---
<p>I was going to make the hat, but Mega Strength boy wanted to use his own hand dyed yarn for the crown and it is a bit thicker and fuzzier than the nice crepe used for the edge. The edging is great by itself and if I do make a hat from his wool then I’m sure we can put them together.</p><p>The pattern is very satisfying. I’ve put up my graph on my blog. I can upload it to ravelry too. No, I’ll upload to flickr then you can click through and be able to download the picture. Sorry if that’s confusing.</p>
