---
title: Blue Socks
date: 2015-09-08 05:17:29 -0400
finish: 2016-01-14
image: basic-ribbed-socks-1.jpg
nophotos: 3
patternname: "Basic Ribbed Socks"
needlesize: 2.5
tags: []
---
<p>Had to start with K1P1 rib, even though the pattern doesn’t. I’m going for 60 sts around on 4 dpns. Wish me luck!</p><p>Second sock I accidentally went with 64sts - just thought I had done a different size, then made the heel as for the 60sts size, then realised the mistake and kept going.</p><p>Still a fair bit of yarn left from the skein.</p>
