---
title: Schlubby braid edge cap
date: 2014-04-26 03:37:28 -0400
finish: 2014-05-01
image: braid-edged-cap-2-1.jpg
nophotos: 2
patternname: "Braid-Edged Cap"
needlesize: 5.5
tags: []
---
<p>I love this pattern. The yarn is very … hmmm … idiomatic. Should work though.</p><p>Now I find the wool is “hand wash” - i.e. will felt. Must practise detachment from the things of this world anyway…</p><p>Still a great pattern to knit.</p>
