---
title: bright rolled brim hat
date: 2013-08-20 00:13:14 -0400
finish: 2013-08-19
image: bright-rolled-brim-hat-1.jpg
nophotos: 1
patternname: "lucky 7 rolled brim hat"
needlesize: 5.5
tags: [ "baby", "easy", "hat" ]
---
<p>Cable cast on 77 sts on a small circular needle.</p><p>Knit</p><p>Run out of yarn, change colour and knit some more.</p><p>Repeat last step as you like.</p><p>(K9, K2 tog) to end <br />K next round <br />(K8, K2 tog) to end <br />K next round <br />(K7, K2 tog) you get the idea? You need to change to double points, or do the magic loop thing along the way… <br />until you get down to K2 tog to end, then break and gather up stitches tightly, weave in loose ends.</p><p>There you have a hat!</p>
