---
title: Cabled brim hat
date: 2008-01-14 22:23:10 -0500
finish: 2009-03-29
image: cabled-hat-with-lined-brim-1.jpg
nophotos: 4
patternname: "Cabled Hat with Lined Brim"
needlesize: 3.25
tags: []
---
<p>This yarn needed something suitably impressive to use it for. I found this pattern on Catherine Devine’s blog So much time, not enough patterns. Betty had some machine knitted jumpers (sweaters) and cardigans in her beautiful handspun with horn buttons and this is kinda working out a bit like those.</p><p>I knitted a stripe in the lining to stretch out the brown wool then decided to write some morse code - remember reading that idea long ago. So now its labelled MMVII, VB, AMDG, IHS. But I can’t remember when I started it!!</p>
