---
title: Calorimetry in chunky pink and purple
date: 2018-05-09 18:51:04 -0400
finish: 2018-05-09
image: calorimetry-2-1.jpg
nophotos: 2
patternname: "Calorimetry"
needlesize:
tags: []
---
<p>Only cast on 88 sts as that was all that would fit the needles - plus I was intending it for my little girl, but ends up fitting me too.</p><p>Very quick as you never get to the end of the row, just turn and keep going.</p><p>I think the wool was thicker than Aran, so may have influenced the size for stitch count ratio.</p>
