---
title: Bunny Boy
date: 2017-12-21 05:18:06 -0500
finish: 2017-12-21
image: captain-america-1.jpg
nophotos: 1
patternname: "Captain America!"
needlesize:
tags: ["geek","hat"]
---
<p>I chain stitched the “B” - or slip-stitch as I used a hook.</p><p>Also added a chin strap as per request of Bunny Boy.</p><p>Also extended the back of the helmet as far as the supply of blue yarn would allow.</p><p>Nice and stretchy - it fits just about everyone from 4 to 14 years. Many requests to make more.</p>
