---
title: Charlee Baby Girl Jacket/Coat
date: 2014-12-11 21:37:02 -0500
finish: 2015-01-17
image: charlee-baby-girl-jacket-coat-1.jpg
nophotos: 6
patternname: "Charlee Baby Girl Jacket/Coat"
needlesize: 4
tags: []
---
<p>At first I didn’t quite get the “inc in the same st but in previous row” and tried just a regular inc, but ended up ripping back and starting again and it’s looking good. I’m wondering if a chain cast on would work better for all the little cast ons - I used a backward loop and the edge looks a bit loose, but it’s probably all going to be hidden by picking up stitches for the collar anyway.</p><p>It’s a bit of a cold, wet time after a hot dry patch, and my little almost-2-year-old is growing out of her current jumpers. I might just be able to squeeze in a hand knit jumper by me - she has a wonderful Nanna who has made a few jumpers already.</p><p>15/12/14 - I’m losing confidence in the pattern, in how it’s turning out in general. There was a note that it hadn’t been tested out in larger sizes, and it does seem to be rather enormous for a 2 year old as written. I’m thinking of ripping it out and changing over to a Strawberry Hill cardigan. The garter stitch yoke should really be a bit smaller - like a feature around the collar, but it seems to come right down the arms. It doesn’t look so bad at the moment while the sleeve stitches are sitting on waste yarn - they stick up a bit like puffy sleeves, but once I get knitting the sleeves they’re going to flop and stretch the garter stitch and look awful.</p><p>Yes, I think I’ve decided - Strawberry Hill for me.</p><p>x/12/14 - I am in knitting stepp’d in so far that should I knit no more twere more tedious to unravel it all than to finish it.</p><p>17/1/15 - Finished! Preliminary fittings are hopeful - still too big, but children are famous for growing, and there are many months till winter.</p><p>The collar is a <a href=\http://www.ravelry.com/patterns/library/crochet-peter-pan-collar\>Crochet Peter Pan Collar</a> by Emma Escott of LuluLoves.co.uk</p>
