---
title: Crown for a princess
date: 2016-04-30 03:59:08 -0400
finish: 2016-05-01
image: crown-for-a-princess-1.jpg
nophotos: 2
patternname: "Crown for a princess"
needlesize: 4
tags: []
---
<div class=\markdown__dated_entry\><h1 id=\30042016\ class=\markdown__dated_entry__heading\>30-04-2016</h1><p>I’m going from the photos as it seems clear enough without having to translate the Finnish. I’ve just chained enough to go round my daughter’s head, but on second thoughts looks like I should count to see that the number of chain is divisible by 9 - but I can fudge it when I get there.</p></div>
