---
title: Parasaurolophus Mark II
date: 2008-07-24 08:22:11 -0400
finish: 2008-01-01
image: ganomy-hat-june-wg08-so9-1.jpg
nophotos: 4
patternname: "Ganomy Hat (June) WG08 SO9"
needlesize: 5.5
tags: [ "dinosaur", "ez", "ganomy", "hat", "pointy" ]
---
<p>The old Parasaurolophus hat has gone missing so the cold weather prompted a replacement. The dark blue wool is a superwash crepe wool which tends to flop, so it seems less parasaurolophish than the old hat which was probably all acrylic. Keeps your ears warm. I followed the directions for this one - 4sts/inch. It looks comfortably big on the boys and snug on the grown-ups. The little bobble on the end is cute - but the colour scheme on this one seems so sensible.</p><p>The red ganomy is much the same except thicker wool and adjusting pattern to keep the size roughly the same. Its about 3sts/inch so only cast on 3/4 the sts. Its not so stretchy and the stitches threatened to jump the needles as they didn’t squash up so much. Its a mohair blend so very cute and fuzzy.</p>
