---
title: Schmooth Red Ganomy Hat
date: 2014-04-13 03:28:23 -0400
finish: 2014-05-15
image: ganomy-hat-june-wg08-so9-2-1.jpg
nophotos: 2
patternname: "Ganomy Hat (June) WG08 SO9"
needlesize:
tags: ["hats","ganomy"]
---
<p>This is actually take two. The first attempt was enormous and I ran out of yarn before getting to the point.</p><p>Frogged and restarted smaller.</p><p>Which turned out quite small. But that’s where having small people around can be handy.</p><p>This time I did the decreases at the halfway points and no increases. When I got down to 4 sts I continued with i-cord.</p>
