---
title: Gecko
date: 2014-06-26 18:31:54 -0400
finish: null
image: gecko-1.jpg
nophotos: 1
patternname: "Gecko"
needlesize: 3.5
tags: []
---
<p>Using some home dyed wool, a bit thicker than regular DK, so I guess that makes it worsted. Finished the head and realised there wouldn’t be enough for completing the pattern properly, so suggested Windpower could have a go at finishing it off as a comical gecko caricature.</p><p>Very nice pattern - will try it again with a better supply of yarn.</p><p>Also, couldn’t find any safety eyes, so using buttons instead.</p><p>I only crocheted the head and shoulders. The rest is improvised by Windpower.</p>
