---
title: Earbud sleeve
date: 2018-07-28 21:38:35 -0400
finish: 2018-08-12
image: headphone-sleeves-1.jpg
nophotos: 2
patternname: "Headphone sleeves"
needlesize: 2
tags: []
---
<p>Copying something I saw on the internet, this one with a 4 st i-cord in green cotton thread.</p><p>Some of my resident chaos elves like to split headphone cords. Some years ago I wrapped a split cord with embroidery cotton, which was tedious, but lasted pretty well. See how i-cord compares.</p>
