---
title: Koal-ee
date: 2012-11-25 14:24:05 -0500
finish: 2012-11-11
image: koala-1.jpg
nophotos: 1
patternname: "Koala"
needlesize:
tags: [ "cute", "koala", "toy" ]
---
<p>A Sunday Morning staying home and a library book.</p><p>Only hitch was the crochet instructions in the front of the book didn’t quite match up with the terminology in the patterns. The “how to crochet” part was something of a hybrid between UK and US terms. The rest standard US. Spent quite a while slip stitching the body (following instructions for sc), until I tried US sc or UK dc and then it started taking shape. I turned the smaller slip stitched body inside and call it a finger puppet. So that’s sort of why he has no legs.</p><p>My first crochet amigurumi!</p>
