---
title: Hopefully quick snood thing
date: 2009-11-12 15:36:23 -0500
finish: 2009-11-17
image: lacy-starfish-snood-1.jpg
nophotos: 1
patternname: "Lacy Starfish Snood"
needlesize: 4 5.5
tags: []
---
<p>Not sure how this will go, but handy to have things to wear on one’s head.</p><p>It was a quick knit. A handy hat to have for holding back wet hair after a shower. The yarn seems too bulky though for a lacy snood sort of effect.</p>
