---
title: Last minute Winter Magic fodder #1
date: 2009-06-14 17:25:48 -0400
finish: 2009-06-15
image: last-minute-winter-magic-fodder-1-1.jpg
nophotos: 2
patternname: null
needlesize: 3.25
tags: [ "baby", "brim", "hat", "rolled" ]
---
<p>Mystery ball of yarn, cast on till the circular needle is covered, knit till it looks fair enough, decrease at 8 points every second round or so, a couple of rows i-cord on 4 sts, and</p><p>VOILA</p><p>a very cute hat!</p>
