---
title: Giganotasaurus
date: 2008-06-22 19:11:11 -0400
finish: 2008-09-29
image: little-men-and-monsters-1.jpg
nophotos: 5
patternname: "Little Men and Monsters"
needlesize: 3
tags: []
---
<p>Finished in time for the birthday - except for one arm, but that way he’s mostly ‘armless.</p><p>Update - Dec 08 - new arm complete and limbs all reattached plus orange chain stitch stripe down the back in orange acrylic. It’s funny how the straight acrylic is wearing out so quick compared to the wool blend.</p>
