---
title: Husky Wolf
date: 2014-06-26 18:39:39 -0400
finish: 2014-06-27
image: little-amigurumi-wolf-1.jpg
nophotos: 2
patternname: "Little Amigurumi Wolf"
needlesize: 2.75
tags: ["toy"]
---
<p>Kids have been asking to spend their pocket money on lego from Hong Kong ebay sellers. I try steering them away from mass-produced plastic toys, and end up with a pile of things to show them the joys of toy making.</p><p>Ears - crocheted onto the head - 1 slip stitich, 3 dc(UK terminology here, sc for US) working towards the middle of the top of the head, then turn, 1 ch, 2dc, turn 1 ch 1dc, fasten off.</p><p>Husky tail - using larger hook and white 11ch, dc into 2nd ch from hook and onward to the end, turn. <br />1 ch, 1 dc into next st, 1 half treble, 1 treble, then 2 treble into each st until you get near the end, then 1 treble, 1 half treble, 1 dc, turn. <br />1 ch, 1 dc, 1 half treble, 1 treble into each st till near the end, then 1 half treble, 1 dc, turn, <br />decrease in a double crochet sort of way to mirror the increases and try end up with the same number of stitches as you started with. <br />Switch to grey and dc the two edges together and fasten off.</p>
