---
title: Little crocheted thurible
date: 2015-04-07 00:06:48 -0400
finish: null
image: little-crocheted-thurible-1.jpg
nophotos: 1
patternname: null
needlesize:
tags: ["toy"]
---
<p>ch 4, join loop, 9 dc into loop, 2dc into each dc, 1dc, 2dc next round, keep dc-ing till it’s a hemisphere.</p><p>Then the chains,</p><p>Then the lid part - bottom up or top down?</p><p>Too small for toys, too floppy for ornaments, I think this one is back to the drawing board.</p>
