---
title: Little Kina
date: 2015-12-15 21:20:45 -0500
finish: 2015-12-20
image: little-kina-1.jpg
nophotos: 1
patternname: "Little Kina"
needlesize:
tags: ["doll clothes"]
---
<div class=\markdown__dated_entry\><h1 id=\16122015\ class=\markdown__dated_entry__heading\>16-12-2015</h1><p>It wasn’t a great fit for this particular doll. It sort of needs a smaller neckline but larger body. Maybe casting on 38 sts and making the body more A-line or lacey?</p><p>It was a great way to use up scraps of yarn</p></div>
