---
title: Little navy blue dress
date: 2017-11-26 14:59:45 -0500
finish: 2017-11-25
image: mini-doll-sock-yarn-dress-1.jpg
nophotos: 1
patternname: "Mini Doll Sock Yarn Dress"
needlesize: 2.25 3.25
tags: ["doll clothes"]
---
<p>Followed the patter recommendation to follow the pattern first, then make variations later.</p><p>I learned that AG mini dolls are very small - only 6” tall. The little doll I was aiming to clothe was a bit bigger than that.</p><p>I was very pleased with how it turned out. The pattern said it was a bit light on details and relied on the knitter to fill in. The bit I changed was the number of buttonholes. The pattern calls for 2 (BH1 and BH2) but I read it as BH1 (make one buttonhole) every second row as you repeat that row, then I was a bit stumped at BH2 - make 2 buttonholes?</p><p>Anyway, I’ll put up my second time around dress separately.</p>
