---
title: Mini Alien
date: 2012-12-10 15:48:35 -0500
finish: 2012-12-11
image: mini-alien-1.jpg
nophotos: 3
patternname: "Mini Alien"
needlesize: 3.25
tags: []
---
<p>Very quick to knit.</p><p>Very popular with my children.</p><p>I love how the arms are knitted in. Knitted circularly all the making up is tying off the last stitches at the top, putting on the face, then whip stitch across the cast on stitches. With a little foresight you can use the two ends of the yarn used to knit the piece to stick out as antennae - that way they can’t be pulled out.</p><p>They also make a good intro to sewing for the kids - give them the knitted body, show them how to stuff and embroider the face, be open minded about how to do the face - it’s a very personal sort of thing - and then help sew it closed and put the antennae through.</p>
