---
title: Crumbs III
date: 2012-12-04 16:24:07 -0500
finish: 2012-12-08
image: mini-monkey-1.jpg
nophotos: 2
patternname: "Mini Monkey"
needlesize:
tags: [ "flat", "monkey", "toy" ]
---
<p>Having a baby at Christmas is sweet, but brings ever after the joy of keeping a birthday at a busy time.</p><p>Modifications - face - made a light brown background for the eyes in duplicate stitch and used black knots for the eyes. Embroidered nostrils and mouth with two strands of two ply yarn (black cashmere). Also used 3 stitch i-cord for the tail. And swapped legs for arms to give more monkey-ish proportions.</p>
