---
title: Monichika
date: 2017-11-26 15:07:57 -0500
finish: 2017-11-26
image: mini-doll-sock-yarn-dress-2-1.jpg
nophotos: 1
patternname: "Mini Doll Sock Yarn Dress"
needlesize: 2.25 3.25
tags: []
---
<p>My doll was a bit bigger than the AG mini dolls that the pattern was written for. I added one more increase row and made the skirt much longer. I’m pretty chuffed with the result.</p><p>Also ade 3 buttonholes instead of the 2 in the pattern.</p><p>The buttons are a bit fiddly to do up, so I think this means the dress will stay on the doll :)</p>
