---
title: Claret oval doily
date: 2010-07-12 07:51:53 -0400
finish: 2012-12-05
image: oval-doily-1-1.jpg
nophotos: 4
patternname: "Oval Doily 1"
needlesize: 2.75
tags: [ "lace", "oval" ]
---
<p>Here’s a mystery knit - no pictures, only a diagram to go from. The idea is to have something to make an oval mantilla to wear on my head for Mass. It looks like it will be too small - but that’s okay, it will be quicker to knit that way.</p><p>Finding weird things with the pattern as I go. It has you pick up stitches after row 96, but it makes more sense to finish on a K row 97 and pick up the right way round. Then there’s the mystery 8 stitches in the instructions while the needles clearly have 12 there. I think some errata are in order! Also some kludgey increases to make up for earlier misunderstandings - Ripping out lace doesn’t sound so appealing - maybe I just need to let it rest and come back with some perspective.</p><p>NB: I think I’ve figured out my problem. When the pattern says “slip one stitch at the beginning of the next row” it’s not so much a slip, as look at the end of the pattern for the row and knit that last stitch now and move your stitch markers, or double pointed needles, so you’re ready to start at the beginning of the pattern. This would have saved the earlier trouble. As it is now, the outer leaf pattern doesn’t quite line up with the centre rectangle, but I think I can live with that.</p>
