---
title: Cute hat
date: 2016-10-15 23:14:08 -0400
finish: 2016-10-16
image: peach-happy-sun-hat-1.jpg
nophotos: 1
patternname: "Peach Happy Sun Hat"
needlesize: 5
tags: []
---
<p><a href="https://stitch11.com/peach-happy-sun-hat/">Pattern from Stitch 11.com</a></p>
<p>Just used the apricot yarn for the last round. Only needed a little.</p><p>Still had a bit left over from two balls of the Karola too.</p><p>I’m impressed how well it fits!</p>
