---
title: Red Improv Socks
date: 2012-11-23 15:11:34 -0500
finish: 2012-11-24
image: red-improv-socks-1.jpg
nophotos: 2
patternname: "ummm"
needlesize: 3.25
tags: [ "socks" ]
---
<p>Almost finished these socks, but can’t remember when I started them. I have been knitting them for a while, thinking I had a sock pattern in the knitting bag if I needed to refer to it, but now I actually read the pattern, it is totally different. I’m knitting top down and the pattern is for a universal toe up sock from Knitty.</p><p>I did muck up the pattern earlier - decreasing too much at the instep for the first sock, which made it too tight for me, so made a short foot so it would fit son #3. Then second sock I figured out the mistake and got a sock that fits me, so went and frogged back the first sock and now I will have two red socks.</p><p>I’m hoping the wool is washable. Like most wool I have it is mystery 2nd hand yarn bought cheap. Previous socks have had a tendency to shrink in the wash and become felted socks for sons. Sons are good like that.</p><p>Turns out I was a little impatient with shaping the toe and they are a little short for me, even before washing. But Son #2 happily modelled for the photo and I’m sure they will be worn much.</p>
