---
title: RGB sock
date: 2017-05-30 02:08:29 -0400
finish: 2017-07-29
image: rgb-sock-1.jpg
nophotos: 8
patternname: null
needlesize: ["3.25mm"]
tags: ["socks"]
---
<p>It’s cold so my thoughts turn sockwards. Use up odd acrylic yarn and make some comfy foot warmers. Maybe with the stripes I’ll have enough to make two socks that almost match.</p>

<p><strong>Update</strong> July 2021: I finally made the matching sock!</p>

<p>Cast on 40sts.<br />
K1P1 rib for about 12 rounds in green.<br />
K3P1 rib for 2 rounds each in blue, red then green for a total of 3 colour cycles.</p>

<p>Divide in half for heel (20sts). Red for the heel. I did about 8 rows in eye of partridge pattern, then fell back into plain stocking stitch, slipping a stitch at the beginning of each row. Seems to be about 20 rows.</p>

<p>Turning the heel: k11, k2tog, k1, turn,<br />
sl1, p3, p2tog, p1, turn,<br />
continue, working two stitches together across the gap that forms at the turnings. I know these instructions are a bit incomplete, and I used to like having them written out properly, but this is what goes on in my brain now, and to get the line by line thing I'd have to knit another sock and pay attention.</p>

<p>Pick up stitches along the sides of the heel flap and knit a round. Do the normal decreases every second round until you're back to 40sts. My foot takes 6 colour cycles from the heel to the toe. I kept the K3P1 pattern on top, but the sole is plain stocking stitch.</p>

<p>Blue for the toe in stocking stitch. Decreasing one stitch each side every second round until you get down to 16sts = 8 sts on each needle, ready to kitchener stitch the toe closed.</p>


