---
title: Simultaneous Fingerless Mitts
date: 2018-07-09 03:17:00 -0400
finish: 2018-07-09
image: simultaneous-fingerless-mitts-1.jpg
nophotos: 1
patternname: null
needlesize:
tags: []
---
<p>Saw someone knitting two socks on one circular, so had to give it a go.</p><p>I think it was easier than using two circulars.</p><p>Finished fingerlessly because my almost 2 year old kept wanting to try them on.</p>
