---
title: Stella
date: 2016-11-08 18:49:59 -0500
finish: 2016-11-10
image: stella-di-natale-1.jpg
nophotos: 2
patternname: "Stella di natale"
needlesize: 3
tags: []
---
<div class=\markdown__dated_entry\><h1 id=\10112016\ class=\markdown__dated_entry__heading\>10-11-2016</h1><p><em>scovolino di pipe</em> is italian for Pipe Cleaner - only figured this out halfway through the tail, so mine is isn’t as stiff as designed.</p><p>A very cute star. Now to figure out how far I want to go with this crocheted Nativity scene idea…</p></div>
