---
title: Not Perfect
date: 2016-07-11 03:17:49 -0400
finish: 2016-07-11
image: suncatcher-34-1.jpg
nophotos: 2
patternname: "Suncatcher 34"
needlesize: 3
tags: []
---
<p>From a book of miniature lace knits by Gloria Penning from the Springwood Hospital Fete. Suncatcher 34.</p><p>Errata! cast on 8 sts (not 6!)</p>
