---
title: Susie Rogers' Reading Mitts
date: 2015-12-15 21:54:39 -0500
finish: 2015-12-23
image: susie-rogers-reading-mitts-1.jpg
nophotos: 2
patternname: "Susie Rogers' Reading Mitts"
needlesize: 3.75
tags: []
---
<div class=\markdown__dated_entry\><h1 id=\16122015\ class=\markdown__dated_entry__heading\>16-12-2015</h1><p>the first thumb cast off was a bit tight - need some sort of stretchier bind off there.</p></div><div class=\markdown__dated_entry\><h1 id=\24122015\ class=\markdown__dated_entry__heading\>24-12-2015</h1><p>Second thumb I used a bind off from Knitter Almanac, the one with a darning needle and lots of loops.</p><p>Also knitted in the turned up parts for the picot edge - fiddly but worthwhile.</p></div>
