---
title: Tall Variegated Socks
date: 2009-10-16 17:31:42 -0400
finish: null
image: tall-variegated-socks-1.jpg
nophotos: 1
patternname: "Socks"
needlesize: 2.75
tags: [ "socks" ]
---
<p>Of course now I realise maybe the soft patonyle would have been better for the main part with the slightly thicker magic stripes for the parts needing reinforcing, but you just go with it and see how it goes. Its only socks after all.</p><p>And now they’re finished, sure enough the patonyle feels kinda thin compared to the magic stripe, but they’re my socks and I can wear them. They still fall down though. Gotta look into those scandinavian sock patterns with the big pattern part of the calf and then tight rib at the knee.</p>
