{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         <h4>You can find me also on:</h4>
         {{ partial "social_buttons_in_contact.html" . }}
         {{ with .Site.Params.email }}
         <h4>Drop me a line, maybe?</h4>
         <form id="contact-form" class="contact-form form" method="post" action="https://formspree.io/f/xzbyabrw">
           <div class="controls">
             <div class="form-group">
               <label for="name">Your name *</label>
               <input type="text" name="name" id="name" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="email">Your email *</label>
               <input type="email" name="email" id="email" required="required" class="form-control">
             </div>
             <div class="form-group">
               <label for="message">Your message for me *</label>
               <textarea rows="4" name="message" id="message" required="required" class="form-control"></textarea>
             </div>
             <div>
               <input type="submit" value="Send" class="btn btn-ghost">
             </div>
           </div>
         </form>
         {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
